window {
    margin: 0px;
    border: 2px solid @surface;
    background-color: alpha(@background, 0.92);
    border-radius: 8px;
}

#input {
    margin: 5px;
    border: 1px solid @surface;
    color: @text;
    background-color: @background;
    border-radius: 4px;
    padding: 8px;
    font-family: "AnonymicePro Nerd Font", monospace;
    font-size: 12px;
}

#inner-box {
    margin: 5px;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    background-color: transparent;
}

#scroll {
    margin: 0px;
}

#text {
    margin: 5px;
    color: @text;
    font-family: "AnonymicePro Nerd Font", monospace;
    font-size: 11px;
}

#entry {
    background-color: transparent;
    border-radius: 4px;
    margin: 2px;
    padding: 5px;
}

#entry:selected {
    background-color: @accent;
    color: @on_accent;
}

#entry:hover {
    background-color: @surface;
    color: @text;
}

#text:selected {
    color: @on_accent;
}
